<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>myScroll</title>
	<link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.1/theme-chalk/index.css" rel="stylesheet">
	<style>
		.el-row {
			margin-bottom: 20px;
		}

		.el-col {
			border-radius: 4px;
		}

		.bg-purple-dark {
			background: #99a9bf;
		}

		.bg-purple {
			background: #d3dce6;
		}

		.bg-purple-light {
			background: #e5e9f2;
		}

		.grid-content {
			border-radius: 4px;
			min-height: 36px;
		}

		.row-bg {
			padding: 10px 0;
			background-color: #f9fafc;
		}

		.text {
			font-size: 14px;
		}

		.item {
			padding: 18px 0;
		}

		.box-card {
			width: 480px;
		}

		#submit {
			transition: all 3s;
		}
	</style>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.6/vue.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.1/index.js"></script>
	<script src="MyScroll.js"></script>
</head>

<body>
	<div id="app">
		<el-row>
			<el-col :span="24">
				<div class="grid-content bg-purple-dark"></div>
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="12">
				<div class="">
					<el-card class="box-card">
						<div slot="header" class="clearfix">
							<span>参数</span>
						</div>
						<div v-for="o in 4" :key="o" class="text item">
							ssss
						</div>
					</el-card>
				</div>
			</el-col>
			<el-col :span="12">
				<div class="grid-content bg-purple-light"></div>
			</el-col>
		</el-row>
		<div v-for="item in 8" :key="item">
			<el-row>
				<el-col :span="12">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="12">
					<div class="grid-content bg-purple-light"></div>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="8">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="8">
					<div class="grid-content bg-purple-light"></div>
				</el-col>
				<el-col :span="8">
					<div class="grid-content bg-purple"></div>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="6">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="6">
					<div class="grid-content bg-purple-light"></div>
				</el-col>
				<el-col :span="6">
					<div class="grid-content bg-purple">
						<button v-if="item==4" id="submit">提交</button>
						<div v-if="item==4" id="submit-ff" style="transform: translateY(100px);width: 0;height:0;opacity: 0;">ff
						</div>
					</div>
				</el-col>
				<el-col :span="6">
					<div class="grid-content bg-purple-light"></div>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="4">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="4">
					<div class="grid-content bg-purple-light"></div>
				</el-col>
				<el-col :span="4">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="4">
					<div class="grid-content bg-purple-light"></div>
				</el-col>
				<el-col :span="4">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="4">
					<div class="grid-content bg-purple-light"></div>
				</el-col>
			</el-row>
		</div>
	</div>
	<script>
		var vue = new Vue({
			el: "#app",
			data: {
				message: 'hello world'
			}
		})

		function totast(mode, height, loop) {
			vue.$notify({
				title: '触发自定义滚动事件',
				dangerouslyUseHTMLString: true,
				message: `<ul>
					<li>${height}</li>
					<li>${mode}</li>
					<li>${loop}</li>
				</ul>`
			});
		}
	</script>
	<script>
		document.querySelector("#submit").style.height = "10px"
		document.querySelector("#submit").style.width = "30px"
		var s = new MyScroll({
			"color": "rgb(10, 116, 218)", //进度条颜色
			"height": "3px", //进度条高度
			"debug": true, //调试模式
			"type": 'up-down', //up-down从上往下滑触发 down-up从下往上滑触发 all都能触发
			"event": [{
					"loop": false,
					"height": "200px",
					"type": "up-down",
					"func": function () {
						totast('当前模式:up-down', '距顶部高度:200px', '事件不会失效')
					}
				},
				// {
				// 	"loop": true,
				// 	"height": "400px",
				// 	"type": "all",
				// 	"func": function () {
				// 		totast('当前模式:all', '距顶部高度:400px', '事件不会失效')
				// 	}
				// },
				// {
				// 	"loop": false,
				// 	"height": "100%",
				// 	"func": function () {
				// 		totast('当前模式:up-down', '距顶部高度:100%', '触发一次后失效')
				// 	}
				// },
				{
					"el": "#submit-ff",
					"loop": false,
					"height": "100%",
					"func": function () {
						console.log(1111)
						document.querySelector("#submit").style.height = "100px"
						document.querySelector("#submit").style.width = "300px"
						totast('当前模式:up-down', '距顶部高度:submit按钮', '触发一次后失效')
					}
				}
			]
		});
	</script>
</body>

</html>